  @media print {
       @page {
           size: portrait;
           margin: 1.5cm 1cm;
       }
       html,
       body {
           width: 100% !important;
           height: auto !important;
       }
       body {
           margin: 0;
           padding: 0;
           float: none;
           color: #000;
       }
       .uoNoPrint {
           display: none;
       }
       * {
           overflow-x: visible !important;
           overflow-y: visible !important;
       }
       .sapMPanelExpandablePart {
           display: block !important;
       }
       .sapMPanelContent {
           border: 0 !important;
       }
       .sapMTextArea>.sapMTextAreaInner {
           height: auto !important;
       }
   }/* Enter your custom styles here */